@charset "UTF-8";

@font-face {
font-family: 'Trebuchet MS';
font-style: normal;
font-weight: normal;
src: local('Trebuchet MS'), url('fonts/trebuc.woff') format('woff');
}



@font-face {
font-family: 'Trebuchet MS Italic';
font-style: normal;
font-weight: normal;
src: local('Trebuchet MS Italic'), url('fonts/Trebuchet-MS-Italic.woff') format('woff');
}


:root {
--cor0: #5C5550;
--cor1: #3B3932;
--cor2:#3B3732;
--cor3: #3B3732;
--cor4: #33322C;

--cor5: #3a3a3a;
--cor6: #7f7f7f;
--cor7: #f2f2f2;


--fonte1: 'Trebuchet MS'

}


* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--cor5);
    background-color: var(--cor6);
}

header {
    background-color: var(--cor5);
    padding-top: 10px;
    height: 30px;
}

hr {
    border: 2px solid gold;
    size: 100px;
    margin-top: 5px;
}

main {
    background-color: var(--cor7);
    min-height: 300px;
    max-width: 750px;
    margin: auto;
    padding: 20px;  
    font-weight: normal;
}


header > a {
    margin: 50px;
}

a {
    text-decoration: none;
    color: #2952A3;
}

main > h2 {
    margin: 20px 5px;
}
main > h3 {
    margin: 10px;
}

main p {
    margin-top: 15px;
}

main > div {
    
    margin-bottom: 50px;
}

ul {
    list-style-position: inside;
    margin: 10px;

}

ul.link {
    text-align: center;
}